/* HEADER */
/* classe titulo principal para header --------------------------------------*/
.cabecalho {
    background-color: #ff0000;
    padding: 30px;
    height: 140px;
}

.container {
    margin: 0 auto;
    width: 940px;
    position: relative;             /* Faz a acamada de container ser referencia para  o position absolue de nav, auxiliando o posicionamento dentro da div */
    /* background-color: #ffbf00; */

}

.titulo-principal {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* margin-left: 20px;  va para a esqurda 20px */
    margin-top: 50px;
    transition: all .5s ease-in-out;
}

.titulo-principal:hover {
    transform: translateX(50px) scale(1.2);
}

nav {
    position: absolute;
    top: 40px;
    right: 0;
    width: 50%;
    /* background-color: #1e00ff; */

}

nav ul {
    /* remove alguns espaços em branco entre li */
    font-size: 0;
    width: 100%;
    text-align: right;
}

nav li {
    display: inline-block;
    border-radius: 2px #fff solid;
    padding: 8px 0;
}
nav li:last-child {
    border-right: 0;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    text-transform:uppercase;
    padding: 8px 16px;
}

nav a:hover {
    text-decoration: underline;
    background-color: #ff8000;
}
/* BANNER --------------------------------------------------------------*/

#banner {
    height: 550px; /* altura */
    width: 100%; /* largura */
    object-fit: cover;
    object-position: 0% 70%;
}

/* SOBRE --------------------------------------------------------------*/

.conteudo-principal {
    background-color: #ff8000;
    color: white;
    padding: 30px;
    margin-top: 0;
}

.titulo-centralizado {
    text-align: center;
}
.titulo-secao {
    border-bottom: 1px lightgray dashed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-bottom: 16px;
    padding: 16px;
}

p{
    text-align: justify;
    font-size: 20px;
}
#missao {
    background-color: #ffbf00;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #003300;
    color: #000;
    font-size: 20px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 70%;
}
em strong {
    color: #003300;
    font-style: italic;
}


/* SERVIÇOS --------------------------------------------------------------*/

.servicos {
    background-color:#ffffff;
    padding: 3px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 19.5%;
}
li {
    list-style: outside;
    margin-left: 20px;
}

.item {
    font-size: 20px;
    font-style: italic;
}

.imagem-servicos {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 10%;
}

footer{
    background-color: #ff0000;
    padding: 30px;
    height: 40px;
}

.copyright {
    color: white;
    font: 18px Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.copyright span {
    color: red;
    font-size: 22px;
}